
<div class="container">
    
  <div class="forecast-label">Forecast Data</div>
  <div class="upper-data">
    <div class="card-container">
 
      <div class="forecast-card" *ngFor="let forecast of dataCard" (click)="selectCard(forecast)" [class.selected]="forecast === selectedCard">
        <div class="forecast-date">{{ forecast.date | date: 'dd-MMM' | uppercase }}</div>
        <div class="forecast-temp" *ngIf="forecast.day.avgtemp_c">{{ inCelsius ? forecast.day.avgtemp_c : forecast.day.avgtemp_f | number: '1.0-0' }} {{ inCelsius ? '°C' : '°F' }}</div>
        <div><img [src]="forecast.day.condition.icon" alt="tempImage" style="width: 60px;"></div>
        <div class="forecast-condition">{{forecast.day.condition.text}}</div>
        <div *ngIf="forecast.day.mintemp_c">min temp: {{inCelsius ? forecast.day.mintemp_c : forecast.day.mintemp_f }} {{ inCelsius ? '°C' : '°F' }}</div>
        <div *ngIf="forecast.day.maxtemp_c">max temp:  {{inCelsius ? forecast.day.maxtemp_c : forecast.day.maxtemp_f}} {{ inCelsius ? '°C' : '°F' }}</div>
        <div *ngIf="forecast.day.avghumidity">humidity: {{forecast.day.avghumidity}}%</div>
        <div *ngIf="forecast.day.avgvis_km">wind: {{forecast.day.avgvis_km}} km/hr</div>
      </div>
    
  </div>
  </div>
  
  <div class="lower-data">
    <div class="hourly-data-label">
      <span>Hourly Data</span> 
      <div class="nav-buttons">
        <button (click)="getPreviousCards()"> < </button>
        <button (click)="getNextCards()"> > </button>
      </div>
    </div>

    <div class="more-info-container">
      <div class="card-container">
      
        <div class="hourly-card" *ngFor="let card of getVisibleCards()">
          <div>{{ card.time | date: 'HH:mm' }}</div>
          <div><img [src]="card.condition.icon" alt="tempImage" style="width: 40px;"></div>
          <div>{{card.condition.text}}</div>
          <div>{{ inCelsius ? card.temp_c : card.temp_f | number: '1.0-0' }} {{ inCelsius ? '°C' : '°F' }}</div>
        </div>
      
    </div>

    </div>
  </div>

</div>