

<div class="container">
    <div class="details-container">
        <h2 class="heading">About</h2>
        <div class="about-details">
          
          <p>This weather app provides accurate weather forecasts for locations worldwide.</p>
          <h4>Features:</h4>
          <ul>
            <li>Current weather conditions</li>
            <li>3-day forecasts</li>
            <li>Hourly forecasts</li>
          </ul>

          <div style="margin-bottom: 10px;"><h4 style="display: inline;">Developed by: </h4>Rahul Panvalkar</div>

          <div><h4 style="display: inline;">Contact: </h4>rahulpanvalkar59&#64;gmail.com</div>

        </div>
      </div>

  </div>