
<div class="search">
  <input type="text" placeholder="Search City" >  <!--(keydown.enter)="onEnterKeyPressed($event)"-->
</div>
<div class="container">
    <div >
        <h2>About Weather App</h2>
        <p>This weather app provides accurate weather forecasts for locations worldwide.</p>
        <p>Features:</p>
        <ul>
          <li>Current weather conditions</li>
          <li>Hourly forecasts</li>
          <li>3-day forecasts</li>
        </ul>
        <p>Developed by: Rahul Panvalkar</p>
        <p>Contact: rahulpanvalkar59&#64;gmail.com</p>
      </div>

  </div>