
<div class="outer-most-div">

  <div>
    <sidebar></sidebar>
  </div>
  
  
  <nav class="navbar">
    <div class="navbar-label" style="">
      <img src="../assets/weather.png">
      <span style="padding: 5px;">Weather</span>
      <div class="toggle">
        C
        <label class="switch">
          <input type="checkbox" (change)="toggleUnits()" >
          <span class="slider round"></span>
        </label>
        F
      </div>
    </div>
  </nav>
  
  <!--<home [inCelsius] = "!toggleValue"></home>-->

  <router-outlet ></router-outlet>
  
</div>